* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 237, 240);
  color: rgb(93, 92, 99);
  font-family: "Halvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.cabecalho {
  text-align: center;
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

.form-do-exercicio {
  background-color: rgb (246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0 auto 40px auto;
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb (214, 217, 220);
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 15px;
}

.campos-pessoais,
label {
  margin-bottom: 15px;
}

.campos-de-trabalho,
label {
  margin-bottom: 15px;
}

textarea {
  width: 80%;
  padding: 20px;
}

.campos-pessoais, .campos-de-trabalho {
  margin: 20px;
}

button {
  padding: 10px;
  margin: 10px 10px 10px 20px;
}
